#meta-box-mip .images ul { 
	padding: 0; 
	margin: 0; 
	list-style: none; 
}
#meta-box-mip .images ul li { 
	position: relative; 
	cursor: move; 
	display: inline-table; 
	margin: 2px; 
	float: left; 
	width: 160px; 
	height: 100px; 
}
#meta-box-mip .images ul li:hover .remove { 
	display: block;
}
#meta-box-mip .images ul li .remove { 
	display: none;
	position: absolute; 
	right: 8px;
	top: 8px;
	background: transparent url(delete.png) 0 0 no-repeat scroll;
	cursor: pointer;
	z-index: 999; 
	width: 16px;
	height: 16px;
}
#meta-box-mip .images ul li img { 
	width: 160px;
	height: 100px;
}
#meta-box-mip .clear { clear: both; }